* {
  box-sizing: border-box;

}
h1 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 32px;
}

p {
  border: 3px solid black;
  background-color: gray;
  width: 90%;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  font-family: Lucida;
  color: solid black;
}


.row {
  width: 100%;
}